<%= form_for @patient, url: {action: :update_profile}, method: :put  do |f| %>
<% if @patient.errors.any? %>
<div id = "error_explanation">
  <h2><%= pluralize(@patient.errors.count, "error") %> prohibited your profile from being saved: </h2>
  <ul>
    <% @patient.errors.full_messages.each do |message| %>
    <li> <%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<fieldset>
  <legend>Contact</legend>
<div class="field">
  <%= f.label :name, "Full Legal Name" %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <p>Email: <%= @patient.email %>.  <%= link_to "Change email or password", edit_patient_registration_path %></p>
</div>
</fieldset>
<fieldset>
  <legend>Personal</legend>
<div class = "field">
  <%= f.label :birthdate %>&nbsp;
  <%= f.date_select :birthdate %>
</div>

<div class="field">
  <%= f.label :height %><br />
  <%= f.text_field :height %>
</div>

<div class="field">
  <%= f.label :bmi %><br />
  <%= f.text_field :bmi %>
</div>

<div class = "field">
  <%= f.label :bloodgroup %><br />
  <%= f.text_field :bloodgroup %>
</div>
</fieldset>
<fieldset>
  <legend>Medical</legend>
  <%= f.check_box :tb %> <%= f.label :tb, "Do you have TB?" %>  <br />
  <%= f.check_box :cigarettes %> <%= f.label :cigarettes, "Do you smoke cigarettes?" %> <br />
  <%= f.check_box :hiv %> <%= f.label :hiv, "Do you have HIV?" %> <br />
  <%= f.check_box :diabetes %> <%= f.label :diabetes, "Do you have diabetes?" %> <br />

  <p><%= f.label :drug_use %><br />
  <%= f.text_area :drug_use %></p>
  <p><%= f.label :medical_history %><br />
  <%= f.text_area :medical_history %></p>
  <p><%= f.label :medication_history %><br />
  <%= f.text_area :medication_history %></p>
  <!--Your resume will automatically be added to any applications you submit.
  < % if @candidate.resume.path %>
  You can upload a new copy of your resume by selecting a file. < %= link_to "Resume on file", document_path(@candidate.resume) %>
  < % end %>
  < %= f.file_field :resume %>-->
</fieldset>


<%= f.submit "Update Profile" %>
<% end %>
